<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="hasHeader" value="true"/>
	<add key="idColumn" value="0"/>
	<add key="lastNameColumn" value="1"/>
	<add key="firstNameColumn" value="2"/>
	<add key="faceAmountColumn" value="10"/>
	<add key="cashValueColumn" value="12"/>
	<add key="riskThreshold" value="300000"/>
	<add key="separator" value=","/>
	<add key="inputFile" value="C:/Temp/ClientCoveragePolicy.csv"/>
	<add key="outputFile" value="C:/Temp/RiskAssessment.csv"/>
  </appSettings>
</configuration>